FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/Vzchu/

# AOPK ČR - VZCHÚ

Rozhraní pro získávání informací o **Velkoplošných chráněných územích ČR (VZCHÚ)**.

## VZCHÚ - karta dle ID [/{kod}?f={f}]

+ Parameters
    + kod: 63 (number) - Kod VZCHÚ
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml

            
### Přehled dotazů [GET]

+ Response 200 (application/json)
    + Attributes (LokalitaVZCHU)

## VZCHÚ - filtrování dle názvu [/filter/{pattern}?f={f}]

+ Parameters
    + pattern: Český (string, optional) - řetězec pro vyhledání
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml

            
### Přehled dotazů [GET]

+ Response 200 (application/json)

        [
            {
                "Kod": 22,
                "Nazev": "Český kras",
                "Kategorie": "CHKO",
                "IdAopkOop": 85
            },
            {
                "Kod": 44,
                "Nazev": "Český les",
                "Kategorie": "CHKO",
                "IdAopkOop": 82
            },
            {
                "Kod": 63,
                "Nazev": "Český ráj",
                "Kategorie": "CHKO",
                "IdAopkOop": 86
            }
        ]
        

## VZCHÚ - přehled změn [/updateinfo?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml

            
### Přehled dotazů [GET]

+ Response 200 (application/json)

        [
            {
                "Kod": 63,
                "IdAopkOop": 86,
                "ZmenaT": "2019-01-09",
                "ZmenaG": "2019-01-10"
            },
            {
                "Kod": 44,
                "IdAopkOop": 82,
                "ZmenaT": "2019-01-09",
                "ZmenaG": "2019-01-10"
            }
        ]



# Data structures

## LokalitaVZCHU
+ Kod: 63 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Nazev: Český ráj (string) - název lokality
+ Kategorie: CHKO (enum [string]) - kategorie chráněného území
    + Members
    + CHKO - Chráněná krajinná oblast
+ IdAopkOop: 86 (number) - ID Regionálního pracoviště AOPK ČR