FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/EVL

# AOPK ČR - TEST

Rozhraní pro získávání informací o **Evropsky významných lokalitách soustavy Natura 2000 (EVL)**.

## MZCHÚ - karta dle ID [/{kod}?f={f}]

+ Parameters
    + kod: 2612 (number) - Kod EVL
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    #EVL
    
    + Attributes
        + test(EVL)

## EVL - filtrování dle názvu [/filter/{pattern}?f={f}]

+ Parameters
    + pattern: Čes (string, optional) - řetězec pro vyhledání
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml

            
### Přehled dotazů [GET]

+ Response 200 (application/json)

        [
            {
                "Kod": 2797,
                "Sitecode": "CZ0424031",
                "Nazev": "České Švýcarsko",
                "Kategorie": "EVL",
                "Rozloha": 10626.9065,
                "Es": "ano",
                "Bioregion": "c",
                "NChu": " "
            },
            {
                "Kod": 2854,
                "Sitecode": "CZ0513237",
                "Nazev": "Česká Lípa - mokřad v nivě Šporky",
                "Kategorie": "EVL",
                "Rozloha": 20.0702,
                "Es": "ano",
                "Bioregion": "c",
                "NChu": " "
            },
            {
                "Kod": 2855,
                "Sitecode": "CZ0513658",
                "Nazev": "Český Dub - základní umělecká škola",
                "Kategorie": "EVL",
                "Rozloha": 0.0545,
                "Es": "ano",
                "Bioregion": "c",
                "NChu": " "
            },
            {
                "Kod": 2882,
                "Sitecode": "CZ0513665",
                "Nazev": "Skalice u České Lípy",
                "Kategorie": "EVL",
                "Rozloha": 0.0021,
                "Es": "ano",
                "Bioregion": "c",
                "NChu": " "
            },
            {
                "Kod": 2905,
                "Sitecode": "CZ0523268",
                "Nazev": "Dubno - Česká Skalice",
                "Kategorie": "EVL",
                "Rozloha": 66.0716,
                "Es": "ano",
                "Bioregion": "c",
                "NChu": "PR"
            }
        ]


## EVL - Zákres [/{kod}/shape?shapeFormat={shapeFormat}&crs={crs}&f={f}]
+ Parameters
    + kod: 2612 (number) - Kod EVL
    + shapeFormat (string, optional) - typ geometrie
        + Default: stgeometry
        + Members
            + stgeometry
            + kml
    + crs (string, optional) - typ souřadnicového systému. p.z.
    **Pokud je požadován výstupní formát KML a neuvede se parametr crs, použije se WGS84**.
        + Default: sjtsk
        + Members
            + sjtsk
            + jtsk
            + wgs84
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml
    

### Přehled dotazů [GET]

+ Response 200 (application/json)
        
        {
            "Id": -1,
            "Kod": 2612,
            "Shapes": [ "MULTIPOLYGON (((-687041.0179 -1005784.7143, -687033.3839 -1005779.6071, -687025.75 -1005774.5, -687017.6562 -1005775.4375, -687009.5625 -1005776.375, -687003.2292 -1005782.375, -686996.8958 -1005788.375, -686990.5625 -1005794.375, -686986.5625 -1005801, -686986.0312 -1005807.3437, -686985.5 -1005813.6875, -686987.375 -1005819.25, -686989.25 -1005824.8125, -686990.1562 -1005829.9687, -686991.0625 -1005835.125, -686992.6875 -1005844.375, -686994.6562 -1005851, -686996.625 -1005857.625, -686998.1875 -1005864.4687, -686999.75 -1005871.3125, -687000.4375 -1005878.4687, -687001.125 -1005885.625, -686994.2422 -1005891.875, -686987.3594 -1005898.125, -686980.4766 -1005904.375, -686973.5937 -1005910.625, -686966.7109 -1005916.875, -686959.8281 -1005923.125, -686952.9453 -1005929.375, -686946.0625 -1005935.625, -686938.7431 -1005941.9792, -686931.4236 -1005948.3333, -686924.1042 -1005954.6875, -686916.7847 -1005961.0417, -686909.4653 -1005967.3958, -686902.1458 -1005973.75, -686894.8264 -1005980.1042, -686887.5069 -1005986.4583, -686880.1875 -1005992.8125, -686878.4687 -1005984.5469, -686876.75 -1005976.2812, -686875.0312 -1005968.0156, -686873.3125 -1005959.75, -686870.1406 -1005952.2656, -686866.9687 -1005944.7812, -686863.7969 -1005937.2969, -686860.625 -1005929.8125, -686857.1875 -1005921.3828, -686853.75 -1005912.9531, -686850.3125 -1005904.5234, -686846.875 -1005896.0937, -686843.4375 -1005887.6641, -686840 -1005879.2344, -686836.5625 -1005870.8047, -686833.125 -1005862.375, -686835.75 -1005861.3125, -686838.2812 -1005855.75, -686840.8125 -1005850.1875, -686842.6562 -1005844.0937, -686844.5 -1005838, -686838.3437 -1005831.7187, -686832.1875 -1005825.4375, -686826.0312 -1005819.1562, -686819.875 -1005812.875, -686811.625 -1005807.6875, -686803.375 -1005802.5, -686795.125 -1005797.3125, -686786.875 -1005792.125, -686781.4375 -1005785.9375, -686776 -1005779.75, -686770.5625 -1005773.5625, -686765.125 -1005767.375, -686763.8229 -1005757.5625, -686762.5208 -1005747.75, -686761.2187 -1005737.9375, -686759.9167 -1005728.125, -686758.6146 -1005718.3125, -686757.3125 -1005708.5, -686752.2 -1005700.0125, -686747.0875 -1005691.525, -686741.975 -1005683.0375, -686736.8625 -1005674.55, -686731.75 -1005666.0625, -686728.625 -1005658.125, -686725.5 -1005650.1875, -686722.375 -1005642.25, -686719.25 -1005634.3125, -686716.125 -1005626.375, -686713 -1005618.4375, -686712 -1005609.2604, -686711 -1005600.0833, -686710 -1005590.9062, -686709 -1005581.7292, -686708 -1005572.5521, -686707 -1005563.375, -686706.1667 -1005556.0625, -686705.3333 -1005548.75, -686704.5 -1005541.4375, -686702.6875 -1005532.1875, -686703.4687 -1005525.5625, -686704.25 -1005518.9375, -686697.7857 -1005511.9821, -686691.3214 -1005505.0268, -686684.8571 -1005498.0714, -686678.3929 -1005491.1161, -686671.9286 -1005484.1607, -686665.4643 -1005477.2054, -686659 -1005470.25, -686652.6125 -1005464.75, -686646.225 -1005459.25, -686639.8375 -1005453.75, -686633.45 -1005448.25, -686627.0625 -1005442.75, -686624.375 -1005434.8125, -686623.0625 -1005427.625, -686619.6042 -1005419.875, -686616.1458 -1005412.125, -686612.6875 -1005404.375, -686614.7 -1005396.3875, -686616.7125 -1005388.4, -686618.725 -1005380.4125, -686620.7375 -1005372.425, -686622.75 -1005364.4375, -686624.1562 -1005359.5625, -686625.5625 -1005354.6875, -686628.3875 -1005345.8875, -686631.2125 -1005337.0875, -686634.0375 -1005328.2875, -686636.8625 -1005319.4875, -686639.6875 -1005310.6875, -686643.6562 -1005306.7187, -686647.625 -1005302.75, -686650.3125 -1005299.875, -686658.3333 -1005295.1875, -686666.3542 -1005290.5, -686674.375 -1005285.8125, -686683.5208 -1005283.3333, -686692.6667 -1005280.8542, -686701.8125 -1005278.375, -686710.3125 -1005278.75, -686718.8125 -1005279.125, -686727.3125 -1005279.5, -686735.5833 -1005280.5625, -686743.8542 -1005281.625, -686752.125 -1005282.6875, -686759.4875 -1005286.0125, -686766.85 -1005289.3375, -686774.2125 -1005292.6625, -686781.575 -1005295.9875, -686788.9375 -1005299.3125, -686793.6875 -1005300.625, -686802.3594 -1005302.9531, -686811.0312 -1005305.2812, -686819.7031 -1005307.6094, -686828.375 -1005309.9375, -686837.0937 -1005311.375, -686845.8125 -1005312.8125, -686853.0625 -1005312.3542, -686860.3125 -1005311.8958, -686867.5625 -1005311.4375, -686872.8437 -1005308.8125, -686878.125 -1005306.1875, -686875.6375 -1005297.0375, -686873.15 -1005287.8875, -686870.6625 -1005278.7375, -686868.175 -1005269.5875, -686865.6875 -1005260.4375, -686859.0625 -1005255.4687, -686852.4375 -1005250.5, -686845.8125 -1005245.5312, -686839.1875 -1005240.5625, -686835.0417 -1005235.2708, -686830.8958 -1005229.9792, -686826.75 -1005224.6875, -686825.8437 -1005215.8437, -686824.9375 -1005207, -686821.5 -1005203.3125, -686812.4167 -1005202.1667, -686803.3333 -1005201.0208, -686794.25 -1005199.875, -686785.0375 -1005198.8125, -686775.825 -1005197.75, -686766.6125 -1005196.6875, -686757.4 -1005195.625, -686748.1875 -1005194.5625, -686739.8125 -1005194.8333, -686731.4375 -1005195.1042, -686723.0625 -1005195.375, -686715.3437 -1005198.375, -686707.625 -1005201.375, -686699.9062 -1005204.375, -686692.1875 -1005207.375, -686684.3437 -1005211.5625, -686676.5 -1005215.75, -686668.7812 -1005221.9583, -686661.0625 -1005228.1667, -686653.3437 -1005234.375, -686645.625 -1005240.5833, -686637.9062 -1005246.7917, -686630.1875 -1005253, -686625.9375 -1005261.2187, -686621.6875 -1005269.4375, -686616 -1005274.0625, -686610.3125 -1005278.6875, -686604.5 -1005282.6875, -686599.3958 -1005287.625, -686594.2917 -1005292.5625, -686589.1875 -1005297.5, -686583.0625 -1005299.3125, -686579.7812 -1005305.1562, -686576.5 -1005311, -686576.1875 -1005319.4375, -686571.875 -1005327.1406, -686567.5625 -1005334.8437, -686563.25 -1005342.5469, -686558.9375 -1005350.25, -686555.9375 -1005359.1875, -686552.9375 -1005368.125, -686547.125 -1005374.75, -686543.9375 -1005374.75, -686537.9687 -1005369.9687, -686532 -1005365.1875, -686526.9453 -1005372.5625, -686521.8906 -1005379.9375, -686516.8359 -1005387.3125, -686511.7812 -1005394.6875, -686506.7266 -1005402.0625, -686501.6719 -1005409.4375, -686496.6172 -1005416.8125, -686491.5625 -1005424.1875, -686488.375 -1005420, -686482.6875 -1005417.4687, -686477 -1005414.9375, -686475.125 -1005412.8125, -686466.9219 -1005411.2344, -686458.7187 -1005409.6562, -686450.5156 -1005408.0781, -686442.3125 -1005406.5, -686433.4687 -1005406.5, -686424.625 -1005406.5, -686416.8542 -1005407.0208, -686409.0833 -1005407.5417, -686401.3125 -1005408.0625, -686403.6042 -1005414.8542, -686405.8958 -1005421.6458, -686408.1875 -1005428.4375, -686413.75 -1005434.25, -686421.5875 -1005437.1625, -686429.425 -1005440.075, -686437.2625 -1005442.9875, -686445.1 -1005445.9, -686452.9375 -1005448.8125, -686455.625 -1005456.0625, -686460.2969 -1005463.8437, -686464.9687 -1005471.625, -686469.6406 -1005479.4062, -686474.3125 -1005487.1875, -686474.7187 -1005495.5937, -686475.125 -1005504, -686475.5312 -1005512.4062, -686475.9375 -1005520.8125, -686482.0547 -1005527.3281, -686488.1719 -1005533.8437, -686494.2891 -1005540.3594, -686500.4062 -1005546.875, -686506.5234 -1005553.3906, -686512.6406 -1005559.9062, -686518.7578 -1005566.4219, -686524.875 -1005572.9375, -686526.9583 -1005582.5833, -686529.0417 -1005592.2292, -686531.125 -1005601.875, -686532.2031 -1005610.5156, -686533.2812 -1005619.1562, -686534.3594 -1005627.7969, -686535.4375 -1005636.4375, -686532.5729 -1005645.6146, -686529.7083 -1005654.7917, -686526.8437 -1005663.9687, -686523.9792 -1005673.1458, -686521.1146 -1005682.3229, -686518.25 -1005691.5, -686516.0625 -1005698.7656, -686513.875 -1005706.0312, -686511.6875 -1005713.2969, -686509.5 -1005720.5625, -686501.0833 -1005725.4375, -686492.6667 -1005730.3125, -686484.25 -1005735.1875, -686481.4062 -1005741.375, -686478.5625 -1005747.5625, -686477.375 -1005755.3437, -686476.1875 -1005763.125, -686480.0312 -1005769.3437, -686483.875 -1005775.5625, -686484 -1005781.9062, -686484.125 -1005788.25, -686487.4375 -1005793.9687, -686490.75 -1005799.6875, -686489.2969 -1005808.4141, -686487.8437 -1005817.1406, -686486.3906 -1005825.8672, -686484.9375 -1005834.5937, -686483.4844 -1005843.3203, -686482.0312 -1005852.0469, -686480.5781 -1005860.7734, -686479.125 -1005869.5, -686470.375 -1005865.9375, -686461.625 -1005862.375, -686456.5208 -1005856.4583, -686451.4167 -1005850.5417, -686446.3125 -1005844.625, -686440.0625 -1005837.4875, -686433.8125 -1005830.35, -686427.5625 -1005823.2125, -686421.3125 -1005816.075, -686415.0625 -1005808.9375, -686415.5781 -1005799.5625, -686416.0937 -1005790.1875, -686416.6094 -1005780.8125, -686417.125 -1005771.4375, -686417.5937 -1005762.6953, -686418.0625 -1005753.9531, -686418.5312 -1005745.2109, -686419 -1005736.4687, -686419.4687 -1005727.7266, -686419.9375 -1005718.9844, -686420.4062 -1005710.2422, -686420.875 -1005701.5, -686417.4875 -1005692.35, -686414.1 -1005683.2, -686410.7125 -1005674.05, -686407.325 -1005664.9, -686403.9375 -1005655.75, -686395.2083 -1005652.5694, -686386.4792 -1005649.3889, -686377.75 -1005646.2083, -686369.0208 -1005643.0278, -686360.2917 -1005639.8472, -686351.5625 -1005636.6667, -686342.8333 -1005633.4861, -686334.1042 -1005630.3056, -686325.375 -1005627.125, -686316.6181 -1005624.0417, -686307.8611 -1005620.9583, -686299.1042 -1005617.875, -686290.3472 -1005614.7917, -686281.5903 -1005611.7083, -686272.8333 -1005608.625, -686264.0764 -1005605.5417, -686255.3194 -1005602.4583, -686246.5625 -1005599.375, -686243.8437 -1005606.7812, -686241.125 -1005614.1875, -686238.4062 -1005621.5937, -686235.6875 -1005629, -686240.6875 -1005637.1875, -686247.0625 -1005641.3281, -686253.4375 -1005645.4687, -686259.8125 -1005649.6094, -686266.1875 -1005653.75, -686273.9687 -1005659.25, -686281.75 -1005664.75, -686280.375 -1005667.375, -686288.4687 -1005671.3437, -686296.5625 -1005675.3125, -686304.6 -1005679.9125, -686312.6375 -1005684.5125, -686320.675 -1005689.1125, -686328.7125 -1005693.7125, -686336.75 -1005698.3125, -686339.4062 -1005703.875, -686342.0625 -1005709.4375, -686342.0625 -1005717.5, -686342.0625 -1005725.5625, -686339.6875 -1005733.25, -686337.3125 -1005740.9375, -686336.5 -1005747.4062, -686335.6875 -1005753.875, -686333.1875 -1005758.375, -686330.6875 -1005762.875, -686321.5 -1005765, -686312.3125 -1005767.125, -686303.125 -1005769.25, -686297.3125 -1005770, -686289.0208 -1005768.6875, -686280.7292 -1005767.375, -686272.4375 -1005766.0625, -686269.9375 -1005772.8125, -686267.4375 -1005779.5625, -686264.5937 -1005786.5937, -686261.75 -1005793.625, -686258 -1005802.6875, -686254.25 -1005811.75, -686250.5 -1005820.8125, -686240.9687 -1005821.4687, -686231.4375 -1005822.125, -686228.7969 -1005831, -686226.1562 -1005839.875, -686223.5156 -1005848.75, -686220.875 -1005857.625, -686228.5469 -1005860.7969, -686236.2187 -1005863.9687, -686243.8906 -1005867.1406, -686251.5625 -1005870.3125, -686257.625 -1005871.375, -686265.775 -1005871.95, -686273.925 -1005872.525, -686282.075 -1005873.1, -686290.225 -1005873.675, -686298.375 -1005874.25, -686305.125 -1005875.5937, -686311.875 -1005876.9375, -686317.8437 -1005881.2812, -686323.8125 -1005885.625, -686328.4792 -1005892.25, -686333.1458 -1005898.875, -686337.8125 -1005905.5, -686339.8125 -1005910.6562, -686341.8125 -1005915.8125, -686346.8125 -1005920.3125, -686354.2292 -1005924.2083, -686361.6458 -1005928.1042, -686369.0625 -1005932, -686375.9018 -1005937.2857, -686382.7411 -1005942.5714, -686389.5804 -1005947.8571, -686396.4196 -1005953.1429, -686403.2589 -1005958.4286, -686410.0982 -1005963.7143, -686416.9375 -1005969, -686420.9028 -1005977.9931, -686424.8681 -1005986.9861, -686428.8333 -1005995.9792, -686432.7986 -1006004.9722, -686436.7639 -1006013.9653, -686440.7292 -1006022.9583, -686444.6944 -1006031.9514, -686448.6597 -1006040.9444, -686452.625 -1006049.9375, -686457.3125 -1006052.4687, -686462 -1006055, -686470.0521 -1006058.5208, -686478.1042 -1006062.0417, -686486.1562 -1006065.5625, -686494.2083 -1006069.0833, -686502.2604 -1006072.6042, -686510.3125 -1006076.125, -686518.725 -1006079.9875, -686527.1375 -1006083.85, -686535.55 -1006087.7125, -686543.9625 -1006091.575, -686552.375 -1006095.4375, -686560.7875 -1006099.3, -686569.2 -1006103.1625, -686577.6125 -1006107.025, -686586.025 -1006110.8875, -686594.4375 -1006114.75, -686600 -1006116.625, -686608.0781 -1006120.3906, -686616.1562 -1006124.1562, -686624.2344 -1006127.9219, -686632.3125 -1006131.6875, -686638.875 -1006133.125, -686645.4375 -1006134.5625, -686652 -1006136, -686661.0795 -1006138.0852, -686670.1591 -1006140.1705, -686679.2386 -1006142.2557, -686688.3182 -1006144.3409, -686697.3977 -1006146.4261, -686706.4773 -1006148.5114, -686715.5568 -1006150.5966, -686724.6364 -1006152.6818, -686733.7159 -1006154.767, -686742.7955 -1006156.8523, -686751.875 -1006158.9375, -686749.75 -1006163.1875, -686755.3125 -1006169.9167, -686760.875 -1006176.6458, -686766.4375 -1006183.375, -686772.9219 -1006188.7187, -686779.4062 -1006194.0625, -686785.8906 -1006199.4062, -686792.375 -1006204.75, -686786.8125 -1006212.4375, -686792.8214 -1006219.8393, -686798.8304 -1006227.2411, -686804.8393 -1006234.6429, -686810.8482 -1006242.0446, -686816.8571 -1006249.4464, -686822.8661 -1006256.8482, -686828.875 -1006264.25, -686834.6875 -1006262.6562, -686840.5 -1006261.0625, -686845.1562 -1006262.9375, -686849.8125 -1006264.8125, -686853.25 -1006271.1667, -686856.6875 -1006277.5208, -686860.125 -1006283.875, -686864.625 -1006290.4687, -686869.125 -1006297.0625, -686875.875 -1006297.5625, -686882.625 -1006298.0625, -686890.4583 -1006296.3125, -686898.2917 -1006294.5625, -686906.125 -1006292.8125, -686914.7 -1006294.825, -686923.275 -1006296.8375, -686931.85 -1006298.85, -686940.425 -1006300.8625, -686949 -1006302.875, -686956.6667 -1006301.375, -686964.3333 -1006299.875, -686972 -1006298.375, -686979.1562 -1006299.7187, -686986.3125 -1006301.0625, -686994.5156 -1006302.25, -687002.7187 -1006303.4375, -687010.9219 -1006304.625, -687019.125 -1006305.8125, -687026.25 -1006304.875, -687033.375 -1006303.9375, -687034.3125 -1006309.25, -687035.25 -1006314.5625, -687039.9167 -1006322.5, -687044.5833 -1006330.4375, -687049.25 -1006338.375, -687051.0469 -1006345.7031, -687052.8437 -1006353.0312, -687054.6406 -1006360.3594, -687056.4375 -1006367.6875, -687049 -1006369.8125, -687044.125 -1006374.5937, -687039.25 -1006379.375, -687030.775 -1006380.1125, -687022.3 -1006380.85, -687013.825 -1006381.5875, -687005.35 -1006382.325, -686996.875 -1006383.0625, -686989.0156 -1006384.4531, -686981.1562 -1006385.8437, -686973.2969 -1006387.2344, -686965.4375 -1006388.625, -686957.4375 -1006389.7875, -686949.4375 -1006390.95, -686941.4375 -1006392.1125, -686933.4375 -1006393.275, -686925.4375 -1006394.4375, -686915.925 -1006395.425, -686906.4125 -1006396.4125, -686896.9 -1006397.4, -686887.3875 -1006398.3875, -686877.875 -1006399.375, -686868.8437 -1006399.9375, -686859.8125 -1006400.5, -686858.25 -1006394.1875, -686849.125 -1006396.6875, -686840 -1006399.1875, -686830.3437 -1006399.8958, -686820.6875 -1006400.6042, -686811.0312 -1006401.3125, -686801.375 -1006402.0208, -686791.7187 -1006402.7292, -686782.0625 -1006403.4375, -686789.0625 -1006408.0625, -686796.0625 -1006412.6875, -686795.25 -1006417.1875, -686785.9943 -1006418.75, -686776.7386 -1006420.3125, -686767.483 -1006421.875, -686758.2273 -1006423.4375, -686748.9716 -1006425, -686739.7159 -1006426.5625, -686730.4602 -1006428.125, -686721.2045 -1006429.6875, -686711.9489 -1006431.25, -686702.6932 -1006432.8125, -686693.4375 -1006434.375, -686696.0417 -1006442.6875, -686698.6458 -1006451, -686701.25 -1006459.3125, -686694.5 -1006464.8125, -686687.75 -1006470.3125, -686681 -1006475.8125, -686674.25 -1006481.3125, -686667.5 -1006486.8125, -686659.2083 -1006491.9167, -686650.9167 -1006497.0208, -686642.625 -1006502.125, -686635.4062 -1006507.1562, -686628.1875 -1006512.1875, -686620.9687 -1006517.2187, -686613.75 -1006522.25, -686607.1389 -1006528.5972, -686600.5278 -1006534.9444, -686593.9167 -1006541.2917, -686587.3056 -1006547.6389, -686580.6944 -1006553.9861, -686574.0833 -1006560.3333, -686567.4722 -1006566.6806, -686560.8611 -1006573.0278, -686554.25 -1006579.375, -686557.5625 -1006583.875, -686560.875 -1006588.375, -686554.2292 -1006592.1875, -686547.5833 -1006596, -686540.9375 -1006599.8125, -686533.75 -1006604.1719, -686526.5625 -1006608.5312, -686519.375 -1006612.8906, -686512.1875 -1006617.25, -686504.5 -1006622.25, -686497.0903 -1006627.8681, -686489.6806 -1006633.4861, -686482.2708 -1006639.1042, -686474.8611 -1006644.7222, -686467.4514 -1006650.3403, -686460.0417 -1006655.9583, -686452.6319 -1006661.5764, -686445.2222 -1006667.1944, -686437.8125 -1006672.8125, -686429.9167 -1006670.1146, -686422.0208 -1006667.4167, -686414.125 -1006664.7187, -686406.2292 -1006662.0208, -686398.3333 -1006659.3229, -686390.4375 -1006656.625, -686386.2917 -1006665.1875, -686382.1458 -1006673.75, -686378 -1006682.3125, -686370.3958 -1006681.1875, -686362.7917 -1006680.0625, -686355.1875 -1006678.9375, -686346.9062 -1006677.7187, -686338.625 -1006676.5, -686330.4167 -1006678.0833, -686322.2083 -1006679.6667, -686314 -1006681.25, -686304.5625 -1006684.1667, -686295.125 -1006687.0833, -686285.6875 -1006690, -686278.5625 -1006692.875, -686279.625 -1006697.125, -686273 -1006697, -686266.375 -1006696.875, -686258.2708 -1006693.1667, -686250.1667 -1006689.4583, -686242.0625 -1006685.75, -686235.9687 -1006685.625, -686229.875 -1006685.5, -686223.375 -1006687.3437, -686216.875 -1006689.1875, -686208.4375 -1006691.8125, -686201.7292 -1006692.7083, -686195.0208 -1006693.6042, -686188.3125 -1006694.5, -686179.3958 -1006694.25, -686170.4792 -1006694, -686161.5625 -1006693.75, -686154.5208 -1006692.5, -686147.4792 -1006691.25, -686140.4375 -1006690, -686141.2344 -1006682.0625, -686142.0312 -1006674.125, -686142.8281 -1006666.1875, -686143.625 -1006658.25, -686146.7969 -1006650.5, -686149.9687 -1006642.75, -686153.1406 -1006635, -686156.3125 -1006627.25, -686165.8125 -1006624.375, -686159.75 -1006620.375, -686150.4792 -1006624, -686141.2083 -1006627.625, -686131.9375 -1006631.25, -686126.0625 -1006637.5312, -686120.1875 -1006643.8125, -686114.3125 -1006650.0937, -686108.4375 -1006656.375, -686100.0625 -1006659.7292, -686091.6875 -1006663.0833, -686083.3125 -1006666.4375, -686074.4896 -1006667.625, -686065.6667 -1006668.8125, -686056.8437 -1006670, -686048.0208 -1006671.1875, -686039.1979 -1006672.375, -686030.375 -1006673.5625, -686024.4062 -1006677.1562, -686018.4375 -1006680.75, -686012.375 -1006685.2187, -686006.3125 -1006689.6875, -685997.1875 -1006692.875, -685988.0625 -1006696.0625, -685982.5 -1006692.3333, -685976.9375 -1006688.6042, -685971.375 -1006684.875, -685963.1562 -1006683.1875, -685954.9375 -1006681.5, -685946.9167 -1006682.3958, -685938.8958 -1006683.2917, -685930.875 -1006684.1875, -685928.6667 -1006674.75, -685926.4583 -1006665.3125, -685924.25 -1006655.875, -685917.125 -1006656.375, -685917.4792 -1006664.75, -685917.8333 -1006673.125, -685918.1875 -1006681.5, -685910.25 -1006686.8125, -685902.3125 -1006692.125, -685893.6406 -1006695.6875, -685884.9687 -1006699.25, -685876.2969 -1006702.8125, -685867.625 -1006706.375, -685859.875 -1006709.6458, -685852.125 -1006712.9167, -685844.375 -1006716.1875, -685837.2344 -1006719.75, -685830.0937 -1006723.3125, -685822.9531 -1006726.875, -685815.8125 -1006730.4375, -685807.0833 -1006734.25, -685798.3542 -1006738.0625, -685789.625 -1006741.875, -685781.0625 -1006743.2708, -685772.5 -1006744.6667, -685763.9375 -1006746.0625, -685755.7875 -1006742.15, -685747.6375 -1006738.2375, -685739.4875 -1006734.325, -685731.3375 -1006730.4125, -685723.1875 -1006726.5, -685714.8125 -1006726.4167, -685706.4375 -1006726.3333, -685698.0625 -1006726.25, -685691.0833 -1006722.8958, -685684.1042 -1006719.5417, -685677.125 -1006716.1875, -685674.2292 -1006709.8333, -685671.3333 -1006703.4792, -685668.4375 -1006697.125, -685669.3437 -1006691.5625, -685670.25 -1006686, -685665.625 -1006678.4687, -685661 -1006670.9375, -685660.3437 -1006662.4687, -685659.6875 -1006654, -685652.475 -1006650.1125, -685645.2625 -1006646.225, -685638.05 -1006642.3375, -685630.8375 -1006638.45, -685623.625 -1006634.5625, -685616.6875 -1006633.8125, -685609.75 -1006633.0625, -685602.8125 -1006632.3125, -685595.4792 -1006633.7292, -685588.1458 -1006635.1458, -685580.8125 -1006636.5625, -685572.4375 -1006641.3125, -685564.0625 -1006646.0625, -685555.6875 -1006650.8125, -685563.7031 -1006649.2969, -685571.7187 -1006647.7812, -685579.7344 -1006646.2656, -685587.75 -1006644.75, -685595.7708 -1006645.3542, -685603.7917 -1006645.9583, -685611.8125 -1006646.5625, -685618.95 -1006651.9125, -685626.0875 -1006657.2625, -685633.225 -1006662.6125, -685640.3625 -1006667.9625, -685647.5 -1006673.3125, -685650.5 -1006681.9375, -685653.5089 -1006690.7589, -685656.5179 -1006699.5804, -685659.5268 -1006708.4018, -685662.5357 -1006717.2232, -685665.5446 -1006726.0446, -685668.5536 -1006734.8661, -685671.5625 -1006743.6875, -685680.0375 -1006747.3375, -685688.5125 -1006750.9875, -685696.9875 -1006754.6375, -685705.4625 -1006758.2875, -685713.9375 -1006761.9375, -685721.3021 -1006767.1458, -685728.6667 -1006772.3542, -685736.0312 -1006777.5625, -685743.3958 -1006782.7708, -685750.7604 -1006787.9792, -685758.125 -1006793.1875, -685754.0156 -1006799.7969, -685749.9062 -1006806.4062, -685745.7969 -1006813.0156, -685741.6875 -1006819.625, -685747 -1006823.3437, -685752.3125 -1006827.0625, -685757.5937 -1006820.1094, -685762.875 -1006813.1562, -685768.1562 -1006806.2031, -685773.4375 -1006799.25, -685782.4375 -1006796.6875, -685791.4375 -1006794.125, -685800.4375 -1006791.5625, -685794.6875 -1006785.8125, -685788.9375 -1006780.0625, -685783.1875 -1006774.3125, -685777.4375 -1006768.5625, -685783.7812 -1006768.4375, -685790.125 -1006768.3125, -685795.8542 -1006774.6667, -685801.5833 -1006781.0208, -685807.3125 -1006787.375, -685813.1562 -1006787.1875, -685819 -1006787, -685828.7187 -1006787.0078, -685838.4375 -1006787.0156, -685848.1562 -1006787.0234, -685857.875 -1006787.0312, -685867.5937 -1006787.0391, -685877.3125 -1006787.0469, -685887.0312 -1006787.0547, -685896.75 -1006787.0625, -685905.3437 -1006784.0312, -685913.9375 -1006781, -685922.5312 -1006777.9687, -685931.125 -1006774.9375, -685940.0417 -1006774.8819, -685948.9583 -1006774.8264, -685957.875 -1006774.7708, -685966.7917 -1006774.7153, -685975.7083 -1006774.6597, -685984.625 -1006774.6042, -685993.5417 -1006774.5486, -686002.4583 -1006774.4931, -686011.375 -1006774.4375, -686019.625 -1006774.3594, -686027.875 -1006774.2812, -686036.125 -1006774.2031, -686044.375 -1006774.125, -686053.7031 -1006773.5312, -686063.0312 -1006772.9375, -686072.3594 -1006772.3437, -686081.6875 -1006771.75, -686091.0156 -1006771.1562, -686100.3437 -1006770.5625, -686109.6719 -1006769.9687, -686119 -1006769.375, -686128.4167 -1006770.4306, -686137.8333 -1006771.4861, -686147.25 -1006772.5417, -686156.6667 -1006773.5972, -686166.0833 -1006774.6528, -686175.5 -1006775.7083, -686184.9167 -1006776.7639, -686194.3333 -1006777.8194, -686203.75 -1006778.875, -686211.5937 -1006779.875, -686219.4375 -1006780.875, -686227.2812 -1006781.875, -686235.125 -1006782.875, -686243.3875 -1006783.925, -686251.65 -1006784.975, -686259.9125 -1006786.025, -686268.175 -1006787.075, -686276.4375 -1006788.125, -686284.325 -1006790.0875, -686292.2125 -1006792.05, -686300.1 -1006794.0125, -686307.9875 -1006795.975, -686315.875 -1006797.9375, -686322.9531 -1006800.4531, -686330.0312 -1006802.9687, -686337.1094 -1006805.4844, -686344.1875 -1006808, -686349.4687 -1006811.9687, -686354.75 -1006815.9375, -686360.8333 -1006810.0208, -686366.9167 -1006804.1042, -686373 -1006798.1875, -686380.0625 -1006796.2292, -686387.125 -1006794.2708, -686394.1875 -1006792.3125, -686403.3542 -1006788.625, -686412.5208 -1006784.9375, -686421.6875 -1006781.25, -686430.7232 -1006777.2455, -686439.7589 -1006773.2411, -686448.7946 -1006769.2366, -686457.8304 -1006765.2321, -686466.8661 -1006761.2277, -686475.9018 -1006757.2232, -686484.9375 -1006753.2187, -686493.9732 -1006749.2143, -686503.0089 -1006745.2098, -686512.0446 -1006741.2054, -686521.0804 -1006737.2009, -686530.1161 -1006733.1964, -686539.1518 -1006729.192, -686548.1875 -1006725.1875, -686554.5 -1006720.125, -686562 -1006716.775, -686569.5 -1006713.425, -686577 -1006710.075, -686584.5 -1006706.725, -686592 -1006703.375, -686600.7054 -1006699.2321, -686609.4107 -1006695.0893, -686618.1161 -1006690.9464, -686626.8214 -1006686.8036, -686635.5268 -1006682.6607, -686644.2321 -1006678.5179, -686652.9375 -1006674.375, -686661.2708 -1006669.8333, -686669.6042 -1006665.2917, -686677.9375 -1006660.75, -686686.2708 -1006656.2083, -686694.6042 -1006651.6667, -686702.9375 -1006647.125, -686706.8125 -1006655.6875, -686710.6875 -1006664.25, -686714.5625 -1006672.8125, -686722.8472 -1006668.3958, -686731.1319 -1006663.9792, -686739.4167 -1006659.5625, -686747.7014 -1006655.1458, -686755.9861 -1006650.7292, -686764.2708 -1006646.3125, -686772.5556 -1006641.8958, -686780.8403 -1006637.4792, -686789.125 -1006633.0625, -686797.4542 -1006628.6708, -686805.7833 -1006624.2792, -686814.1125 -1006619.8875, -686822.4417 -1006615.4958, -686830.7708 -1006611.1042, -686839.1 -1006606.7125, -686847.4292 -1006602.3208, -686855.7583 -1006597.9292, -686864.0875 -1006593.5375, -686872.4167 -1006589.1458, -686880.7458 -1006584.7542, -686889.075 -1006580.3625, -686897.4042 -1006575.9708, -686905.7333 -1006571.5792, -686914.0625 -1006567.1875, -686917.7812 -1006570.6562, -686921.5 -1006574.125, -686929.5833 -1006570.3542, -686937.6667 -1006566.5833, -686945.75 -1006562.8125, -686954.5714 -1006558.9018, -686963.3929 -1006554.9911, -686972.2143 -1006551.0804, -686981.0357 -1006547.1696, -686989.8571 -1006543.2589, -686998.6786 -1006539.3482, -687007.5 -1006535.4375, -687016.4687 -1006536.7812, -687025.4375 -1006538.125, -687034.7656 -1006536.4062, -687044.0937 -1006534.6875, -687053.4219 -1006532.9687, -687062.75 -1006531.25, -687069.6458 -1006534.1458, -687076.5417 -1006537.0417, -687083.4375 -1006539.9375, -687089.5781 -1006544.5781, -687095.7187 -1006549.2187, -687101.8594 -1006553.8594, -687108 -1006558.5, -687113.2083 -1006565.0208, -687118.4167 -1006571.5417, -687123.625 -1006578.0625, -687127.4687 -1006586.0625, -687131.3125 -1006594.0625, -687135.1562 -1006602.0625, -687139 -1006610.0625, -687137.9375 -1006617.125, -687136.875 -1006624.1875, -687135.8125 -1006631.25, -687138.4687 -1006639.9375, -687141.125 -1006648.625, -687143.0625 -1006657.0208, -687145 -1006665.4167, -687146.9375 -1006673.8125, -687155.2656 -1006676.6719, -687163.5937 -1006679.5312, -687171.9219 -1006682.3906, -687180.25 -1006685.25, -687181.8437 -1006692.125, -687183.4375 -1006699, -687179.6458 -1006705, -687175.8542 -1006711, -687172.0625 -1006717, -687172.1458 -1006724.0417, -687172.2292 -1006731.0833, -687172.3125 -1006738.125, -687166.0417 -1006740.8542, -687159.7708 -1006743.5833, -687153.5 -1006746.3125, -687147.9687 -1006752.6875, -687142.4375 -1006759.0625, -687144.875 -1006767.5312, -687147.3125 -1006776, -687149.75 -1006784.4687, -687152.1875 -1006792.9375, -687160.7812 -1006788.4375, -687169.375 -1006783.9375, -687175.6953 -1006777.4844, -687182.0156 -1006771.0312, -687188.3359 -1006764.5781, -687194.6562 -1006758.125, -687200.9766 -1006751.6719, -687207.2969 -1006745.2187, -687213.6172 -1006738.7656, -687219.9375 -1006732.3125, -687224.0312 -1006725.5625, -687228.125 -1006718.8125, -687229.625 -1006709.8125, -687231.125 -1006700.8125, -687232.625 -1006691.8125, -687237.375 -1006691.5625, -687240.5625 -1006687.5937, -687243.75 -1006683.625, -687250.375 -1006678.3437, -687257 -1006673.0625, -687264.1406 -1006666.9687, -687271.2812 -1006660.875, -687278.4219 -1006654.7812, -687285.5625 -1006648.6875, -687289.6562 -1006641.6094, -687293.75 -1006634.5312, -687297.8437 -1006627.4531, -687301.9375 -1006620.375, -687303.5625 -1006620.6875, -687308.5833 -1006625.625, -687313.6042 -1006630.5625, -687318.625 -1006635.5, -687325.25 -1006640.35, -687331.875 -1006645.2, -687338.5 -1006650.05, -687345.125 -1006654.9, -687351.75 -1006659.75, -687359.4167 -1006654.7917, -687367.0833 -1006649.8333, -687374.75 -1006644.875, -687382.4167 -1006639.9167, -687390.0833 -1006634.9583, -687397.75 -1006630, -687405.4167 -1006625.0417, -687413.0833 -1006620.0833, -687420.75 -1006615.125, -687426.0417 -1006620.6667, -687431.3333 -1006626.2083, -687436.625 -1006631.75, -687445.6477 -1006634.5909, -687454.6705 -1006637.4318, -687463.6932 -1006640.2727, -687472.7159 -1006643.1136, -687481.7386 -1006645.9545, -687490.7614 -1006648.7955, -687499.7841 -1006651.6364, -687508.8068 -1006654.4773, -687517.8295 -1006657.3182, -687526.8523 -1006660.1591, -687535.875 -1006663, -687536.8333 -1006655.3333, -687537.7917 -1006647.6667, -687538.75 -1006640, -687534.4062 -1006636.5312, -687530.0625 -1006633.0625, -687523.7031 -1006627.9062, -687517.3437 -1006622.75, -687510.9844 -1006617.5937, -687504.625 -1006612.4375, -687504.625 -1006603.4375, -687507.8958 -1006594.8125, -687511.1667 -1006586.1875, -687514.4375 -1006577.5625, -687520.25 -1006574.0208, -687526.0625 -1006570.4792, -687531.875 -1006566.9375, -687530 -1006562.4375, -687534.6875 -1006553.625, -687539.375 -1006544.8125, -687544.0625 -1006536, -687552 -1006535.2187, -687559.9375 -1006534.4375, -687560.5937 -1006526.75, -687561.25 -1006519.0625, -687563.5417 -1006511.75, -687565.8333 -1006504.4375, -687568.125 -1006497.125, -687572.6562 -1006491.4687, -687577.1875 -1006485.8125, -687579.1875 -1006477.5375, -687581.1875 -1006469.2625, -687583.1875 -1006460.9875, -687585.1875 -1006452.7125, -687587.1875 -1006444.4375, -687588.3929 -1006435.5179, -687589.5982 -1006426.5982, -687590.8036 -1006417.6786, -687592.0089 -1006408.7589, -687593.2143 -1006399.8393, -687594.4196 -1006390.9196, -687595.625 -1006382, -687598.0469 -1006372.4062, -687600.4687 -1006362.8125, -687602.8906 -1006353.2187, -687605.3125 -1006343.625, -687605.3125 -1006337.75, -687606.0312 -1006331.5625, -687606.75 -1006325.375, -687602.6562 -1006320.2187, -687598.5625 -1006315.0625, -687595.375 -1006307.5312, -687592.1875 -1006300, -687590.9583 -1006292.8542, -687589.7292 -1006285.7083, -687588.5 -1006278.5625, -687591.2812 -1006273.2812, -687594.0625 -1006268, -687597.875 -1006260.75, -687602.25 -1006254.75, -687606.75 -1006247.7708, -687611.25 -1006240.7917, -687615.75 -1006233.8125, -687617.6042 -1006226.9375, -687619.4583 -1006220.0625, -687621.3125 -1006213.1875, -687618.1458 -1006206.4792, -687614.9792 -1006199.7708, -687611.8125 -1006193.0625, -687615.1094 -1006186.125, -687618.4062 -1006179.1875, -687621.7031 -1006172.25, -687625 -1006165.3125, -687630.6458 -1006169.2708, -687636.2917 -1006173.2292, -687641.9375 -1006177.1875, -687646.8125 -1006170.05, -687651.6875 -1006162.9125, -687656.5625 -1006155.775, -687661.4375 -1006148.6375, -687666.3125 -1006141.5, -687672.375 -1006133.625, -687678.4375 -1006125.75, -687684.5 -1006117.875, -687689.4062 -1006111.0937, -687694.3125 -1006104.3125, -687699.2187 -1006097.5312, -687704.125 -1006090.75, -687709.0312 -1006083.9687, -687713.9375 -1006077.1875, -687707.75 -1006070.8333, -687701.5625 -1006064.4792, -687695.375 -1006058.125, -687699.0937 -1006053.6562, -687702.8125 -1006049.1875, -687696.8958 -1006043.625, -687690.9792 -1006038.0625, -687685.0625 -1006032.5, -687682.4375 -1006025.375, -687683.075 -1006016.6375, -687683.7125 -1006007.9, -687684.35 -1005999.1625, -687684.9875 -1005990.425, -687685.625 -1005981.6875, -687679.0833 -1005988.8333, -687672.5417 -1005995.9792, -687666 -1006003.125, -687662.0312 -1006008.0312, -687658.0625 -1006012.9375, -687652.25 -1006020.7344, -687646.4375 -1006028.5312, -687640.625 -1006036.3281, -687634.8125 -1006044.125, -687632.625 -1006049.9062, -687630.4375 -1006055.6875, -687627.5 -1006063.375, -687624.5625 -1006071.0625, -687621.625 -1006078.75, -687618.6875 -1006086.4375, -687615.75 -1006094.125, -687613.5417 -1006101, -687611.3333 -1006107.875, -687609.125 -1006114.75, -687604.6696 -1006123.4107, -687600.2143 -1006132.0714, -687595.7589 -1006140.7321, -687591.3036 -1006149.3929, -687586.8482 -1006158.0536, -687582.3929 -1006166.7143, -687577.9375 -1006175.375, -687574.2292 -1006181.1458, -687570.5208 -1006186.9167, -687566.8125 -1006192.6875, -687561.375 -1006198.4375, -687555.9375 -1006204.1875, -687552.5 -1006210.625, -687549.0625 -1006217.0625, -687545.625 -1006223.5, -687542.1875 -1006227.75, -687538.75 -1006232, -687534.5312 -1006234.9062, -687530.3125 -1006237.8125, -687527.9375 -1006233.3125, -687521.0625 -1006231.4375, -687513.0125 -1006227.7875, -687504.9625 -1006224.1375, -687496.9125 -1006220.4875, -687488.8625 -1006216.8375, -687480.8125 -1006213.1875, -687474.3906 -1006209.0937, -687467.9687 -1006205, -687461.5469 -1006200.9062, -687455.125 -1006196.8125, -687448.0833 -1006189.8333, -687441.0417 -1006182.8542, -687434 -1006175.875, -687428.75 -1006171.6562, -687423.5 -1006167.4375, -687417.75 -1006162.1562, -687412 -1006156.875, -687405.8333 -1006152.1875, -687399.6667 -1006147.5, -687393.5 -1006142.8125, -687388.2083 -1006137.7083, -687382.9167 -1006132.6042, -687377.625 -1006127.5, -687371.875 -1006122.5937, -687366.125 -1006117.6875, -687360.375 -1006112.7812, -687354.625 -1006107.875, -687360.3125 -1006100.0703, -687366 -1006092.2656, -687371.6875 -1006084.4609, -687377.375 -1006076.6562, -687383.0625 -1006068.8516, -687388.75 -1006061.0469, -687394.4375 -1006053.2422, -687400.125 -1006045.4375, -687393.0208 -1006038.6806, -687385.9167 -1006031.9236, -687378.8125 -1006025.1667, -687371.7083 -1006018.4097, -687364.6042 -1006011.6528, -687357.5 -1006004.8958, -687350.3958 -1005998.1389, -687343.2917 -1005991.3819, -687336.1875 -1005984.625, -687328.9643 -1005977.7143, -687321.7411 -1005970.8036, -687314.5179 -1005963.8929, -687307.2946 -1005956.9821, -687300.0714 -1005950.0714, -687292.8482 -1005943.1607, -687285.625 -1005936.25, -687278.4018 -1005929.3393, -687271.1786 -1005922.4286, -687263.9554 -1005915.5179, -687256.7321 -1005908.6071, -687249.5089 -1005901.6964, -687242.2857 -1005894.7857, -687235.0625 -1005887.875, -687227.8393 -1005880.9643, -687220.6161 -1005874.0536, -687213.3929 -1005867.1429, -687206.1696 -1005860.2321, -687198.9464 -1005853.3214, -687191.7232 -1005846.4107, -687184.5 -1005839.5, -687177.9531 -1005833.0625, -687171.4062 -1005826.625, -687164.8594 -1005820.1875, -687158.3125 -1005813.75, -687151.7656 -1005807.3125, -687145.2187 -1005800.875, -687138.6719 -1005794.4375, -687132.125 -1005788, -687127 -1005792.8542, -687121.875 -1005797.7083, -687116.75 -1005802.5625, -687109.3125 -1005808.375, -687101.9375 -1005812.375, -687094.25 -1005815.25, -687084.75 -1005814.5, -687079.1875 -1005810.25, -687071.5536 -1005805.1429, -687063.9196 -1005800.0357, -687056.2857 -1005794.9286, -687048.6518 -1005789.8214, -687041.0179 -1005784.7143)))"]
        }
        
        
## EVL - Mapka [/{kod}/map?width={width}&height={height}&showsingle={showsingle}&bgmap={bgmap}&f={f}]
+ Parameters
    + kod: 2612 (number) - Kod EVL
    + width: 800 (number, optional) - výška mapky
    + height: 500 (number, optional) - šířka mapky
    + showsingle: false (boolean, optional) - zobrazení zákresů všech lokalit/ pouze vybrané lokality
    + bgmap (string, optional) - typ podkladové mapy
        + Default: zm
        + Members
            + ortofoto
            + zm
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + json
            + html
            + xml
    

### Přehled dotazů [GET]

+ Response 200 (application/json)

        
        {
            "Id": -1,
            "Kod": 2612,
            "Shapes": [
            "MULTIPOLYGON (((-687041.0179 -1005784.7143, -687033.3839 -1005779.6071, -687025.75 -1005774.5, -687017.6562 -1005775.4375, -687009.5625 -1005776.375, -687003.2292 -1005782.375, -686996.8958 -1005788.375, -686990.5625 -1005794.375, -686986.5625 -1005801, -686986.0312 -1005807.3437, -686985.5 -1005813.6875, -686987.375 -1005819.25, -686989.25 -1005824.8125, -686990.1562 -1005829.9687, -686991.0625 -1005835.125, -686992.6875 -1005844.375, -686994.6562 -1005851, -686996.625 -1005857.625, -686998.1875 -1005864.4687, -686999.75 -1005871.3125, -687000.4375 -1005878.4687, -687001.125 -1005885.625, -686994.2422 -1005891.875, -686987.3594 -1005898.125, -686980.4766 -1005904.375, -686973.5937 -1005910.625, -686966.7109 -1005916.875, -686959.8281 -1005923.125, -686952.9453 -1005929.375, -686946.0625 -1005935.625, -686938.7431 -1005941.9792, -686931.4236 -1005948.3333, -686924.1042 -1005954.6875, -686916.7847 -1005961.0417, -686909.4653 -1005967.3958, -686902.1458 -1005973.75, -686894.8264 -1005980.1042, -686887.5069 -1005986.4583, -686880.1875 -1005992.8125, -686878.4687 -1005984.5469, -686876.75 -1005976.2812, -686875.0312 -1005968.0156, -686873.3125 -1005959.75, -686870.1406 -1005952.2656, -686866.9687 -1005944.7812, -686863.7969 -1005937.2969, -686860.625 -1005929.8125, -686857.1875 -1005921.3828, -686853.75 -1005912.9531, -686850.3125 -1005904.5234, -686846.875 -1005896.0937, -686843.4375 -1005887.6641, -686840 -1005879.2344, -686836.5625 -1005870.8047, -686833.125 -1005862.375, -686835.75 -1005861.3125, -686838.2812 -1005855.75, -686840.8125 -1005850.1875, -686842.6562 -1005844.0937, -686844.5 -1005838, -686838.3437 -1005831.7187, -686832.1875 -1005825.4375, -686826.0312 -1005819.1562, -686819.875 -1005812.875, -686811.625 -1005807.6875, -686803.375 -1005802.5, -686795.125 -1005797.3125, -686786.875 -1005792.125, -686781.4375 -1005785.9375, -686776 -1005779.75, -686770.5625 -1005773.5625, -686765.125 -1005767.375, -686763.8229 -1005757.5625, -686762.5208 -1005747.75, -686761.2187 -1005737.9375, -686759.9167 -1005728.125, -686758.6146 -1005718.3125, -686757.3125 -1005708.5, -686752.2 -1005700.0125, -686747.0875 -1005691.525, -686741.975 -1005683.0375, -686736.8625 -1005674.55, -686731.75 -1005666.0625, -686728.625 -1005658.125, -686725.5 -1005650.1875, -686722.375 -1005642.25, -686719.25 -1005634.3125, -686716.125 -1005626.375, -686713 -1005618.4375, -686712 -1005609.2604, -686711 -1005600.0833, -686710 -1005590.9062, -686709 -1005581.7292, -686708 -1005572.5521, -686707 -1005563.375, -686706.1667 -1005556.0625, -686705.3333 -1005548.75, -686704.5 -1005541.4375, -686702.6875 -1005532.1875, -686703.4687 -1005525.5625, -686704.25 -1005518.9375, -686697.7857 -1005511.9821, -686691.3214 -1005505.0268, -686684.8571 -1005498.0714, -686678.3929 -1005491.1161, -686671.9286 -1005484.1607, -686665.4643 -1005477.2054, -686659 -1005470.25, -686652.6125 -1005464.75, -686646.225 -1005459.25, -686639.8375 -1005453.75, -686633.45 -1005448.25, -686627.0625 -1005442.75, -686624.375 -1005434.8125, -686623.0625 -1005427.625, -686619.6042 -1005419.875, -686616.1458 -1005412.125, -686612.6875 -1005404.375, -686614.7 -1005396.3875, -686616.7125 -1005388.4, -686618.725 -1005380.4125, -686620.7375 -1005372.425, -686622.75 -1005364.4375, -686624.1562 -1005359.5625, -686625.5625 -1005354.6875, -686628.3875 -1005345.8875, -686631.2125 -1005337.0875, -686634.0375 -1005328.2875, -686636.8625 -1005319.4875, -686639.6875 -1005310.6875, -686643.6562 -1005306.7187, -686647.625 -1005302.75, -686650.3125 -1005299.875, -686658.3333 -1005295.1875, -686666.3542 -1005290.5, -686674.375 -1005285.8125, -686683.5208 -1005283.3333, -686692.6667 -1005280.8542, -686701.8125 -1005278.375, -686710.3125 -1005278.75, -686718.8125 -1005279.125, -686727.3125 -1005279.5, -686735.5833 -1005280.5625, -686743.8542 -1005281.625, -686752.125 -1005282.6875, -686759.4875 -1005286.0125, -686766.85 -1005289.3375, -686774.2125 -1005292.6625, -686781.575 -1005295.9875, -686788.9375 -1005299.3125, -686793.6875 -1005300.625, -686802.3594 -1005302.9531, -686811.0312 -1005305.2812, -686819.7031 -1005307.6094, -686828.375 -1005309.9375, -686837.0937 -1005311.375, -686845.8125 -1005312.8125, -686853.0625 -1005312.3542, -686860.3125 -1005311.8958, -686867.5625 -1005311.4375, -686872.8437 -1005308.8125, -686878.125 -1005306.1875, -686875.6375 -1005297.0375, -686873.15 -1005287.8875, -686870.6625 -1005278.7375, -686868.175 -1005269.5875, -686865.6875 -1005260.4375, -686859.0625 -1005255.4687, -686852.4375 -1005250.5, -686845.8125 -1005245.5312, -686839.1875 -1005240.5625, -686835.0417 -1005235.2708, -686830.8958 -1005229.9792, -686826.75 -1005224.6875, -686825.8437 -1005215.8437, -686824.9375 -1005207, -686821.5 -1005203.3125, -686812.4167 -1005202.1667, -686803.3333 -1005201.0208, -686794.25 -1005199.875, -686785.0375 -1005198.8125, -686775.825 -1005197.75, -686766.6125 -1005196.6875, -686757.4 -1005195.625, -686748.1875 -1005194.5625, -686739.8125 -1005194.8333, -686731.4375 -1005195.1042, -686723.0625 -1005195.375, -686715.3437 -1005198.375, -686707.625 -1005201.375, -686699.9062 -1005204.375, -686692.1875 -1005207.375, -686684.3437 -1005211.5625, -686676.5 -1005215.75, -686668.7812 -1005221.9583, -686661.0625 -1005228.1667, -686653.3437 -1005234.375, -686645.625 -1005240.5833, -686637.9062 -1005246.7917, -686630.1875 -1005253, -686625.9375 -1005261.2187, -686621.6875 -1005269.4375, -686616 -1005274.0625, -686610.3125 -1005278.6875, -686604.5 -1005282.6875, -686599.3958 -1005287.625, -686594.2917 -1005292.5625, -686589.1875 -1005297.5, -686583.0625 -1005299.3125, -686579.7812 -1005305.1562, -686576.5 -1005311, -686576.1875 -1005319.4375, -686571.875 -1005327.1406, -686567.5625 -1005334.8437, -686563.25 -1005342.5469, -686558.9375 -1005350.25, -686555.9375 -1005359.1875, -686552.9375 -1005368.125, -686547.125 -1005374.75, -686543.9375 -1005374.75, -686537.9687 -1005369.9687, -686532 -1005365.1875, -686526.9453 -1005372.5625, -686521.8906 -1005379.9375, -686516.8359 -1005387.3125, -686511.7812 -1005394.6875, -686506.7266 -1005402.0625, -686501.6719 -1005409.4375, -686496.6172 -1005416.8125, -686491.5625 -1005424.1875, -686488.375 -1005420, -686482.6875 -1005417.4687, -686477 -1005414.9375, -686475.125 -1005412.8125, -686466.9219 -1005411.2344, -686458.7187 -1005409.6562, -686450.5156 -1005408.0781, -686442.3125 -1005406.5, -686433.4687 -1005406.5, -686424.625 -1005406.5, -686416.8542 -1005407.0208, -686409.0833 -1005407.5417, -686401.3125 -1005408.0625, -686403.6042 -1005414.8542, -686405.8958 -1005421.6458, -686408.1875 -1005428.4375, -686413.75 -1005434.25, -686421.5875 -1005437.1625, -686429.425 -1005440.075, -686437.2625 -1005442.9875, -686445.1 -1005445.9, -686452.9375 -1005448.8125, -686455.625 -1005456.0625, -686460.2969 -1005463.8437, -686464.9687 -1005471.625, -686469.6406 -1005479.4062, -686474.3125 -1005487.1875, -686474.7187 -1005495.5937, -686475.125 -1005504, -686475.5312 -1005512.4062, -686475.9375 -1005520.8125, -686482.0547 -1005527.3281, -686488.1719 -1005533.8437, -686494.2891 -1005540.3594, -686500.4062 -1005546.875, -686506.5234 -1005553.3906, -686512.6406 -1005559.9062, -686518.7578 -1005566.4219, -686524.875 -1005572.9375, -686526.9583 -1005582.5833, -686529.0417 -1005592.2292, -686531.125 -1005601.875, -686532.2031 -1005610.5156, -686533.2812 -1005619.1562, -686534.3594 -1005627.7969, -686535.4375 -1005636.4375, -686532.5729 -1005645.6146, -686529.7083 -1005654.7917, -686526.8437 -1005663.9687, -686523.9792 -1005673.1458, -686521.1146 -1005682.3229, -686518.25 -1005691.5, -686516.0625 -1005698.7656, -686513.875 -1005706.0312, -686511.6875 -1005713.2969, -686509.5 -1005720.5625, -686501.0833 -1005725.4375, -686492.6667 -1005730.3125, -686484.25 -1005735.1875, -686481.4062 -1005741.375, -686478.5625 -1005747.5625, -686477.375 -1005755.3437, -686476.1875 -1005763.125, -686480.0312 -1005769.3437, -686483.875 -1005775.5625, -686484 -1005781.9062, -686484.125 -1005788.25, -686487.4375 -1005793.9687, -686490.75 -1005799.6875, -686489.2969 -1005808.4141, -686487.8437 -1005817.1406, -686486.3906 -1005825.8672, -686484.9375 -1005834.5937, -686483.4844 -1005843.3203, -686482.0312 -1005852.0469, -686480.5781 -1005860.7734, -686479.125 -1005869.5, -686470.375 -1005865.9375, -686461.625 -1005862.375, -686456.5208 -1005856.4583, -686451.4167 -1005850.5417, -686446.3125 -1005844.625, -686440.0625 -1005837.4875, -686433.8125 -1005830.35, -686427.5625 -1005823.2125, -686421.3125 -1005816.075, -686415.0625 -1005808.9375, -686415.5781 -1005799.5625, -686416.0937 -1005790.1875, -686416.6094 -1005780.8125, -686417.125 -1005771.4375, -686417.5937 -1005762.6953, -686418.0625 -1005753.9531, -686418.5312 -1005745.2109, -686419 -1005736.4687, -686419.4687 -1005727.7266, -686419.9375 -1005718.9844, -686420.4062 -1005710.2422, -686420.875 -1005701.5, -686417.4875 -1005692.35, -686414.1 -1005683.2, -686410.7125 -1005674.05, -686407.325 -1005664.9, -686403.9375 -1005655.75, -686395.2083 -1005652.5694, -686386.4792 -1005649.3889, -686377.75 -1005646.2083, -686369.0208 -1005643.0278, -686360.2917 -1005639.8472, -686351.5625 -1005636.6667, -686342.8333 -1005633.4861, -686334.1042 -1005630.3056, -686325.375 -1005627.125, -686316.6181 -1005624.0417, -686307.8611 -1005620.9583, -686299.1042 -1005617.875, -686290.3472 -1005614.7917, -686281.5903 -1005611.7083, -686272.8333 -1005608.625, -686264.0764 -1005605.5417, -686255.3194 -1005602.4583, -686246.5625 -1005599.375, -686243.8437 -1005606.7812, -686241.125 -1005614.1875, -686238.4062 -1005621.5937, -686235.6875 -1005629, -686240.6875 -1005637.1875, -686247.0625 -1005641.3281, -686253.4375 -1005645.4687, -686259.8125 -1005649.6094, -686266.1875 -1005653.75, -686273.9687 -1005659.25, -686281.75 -1005664.75, -686280.375 -1005667.375, -686288.4687 -1005671.3437, -686296.5625 -1005675.3125, -686304.6 -1005679.9125, -686312.6375 -1005684.5125, -686320.675 -1005689.1125, -686328.7125 -1005693.7125, -686336.75 -1005698.3125, -686339.4062 -1005703.875, -686342.0625 -1005709.4375, -686342.0625 -1005717.5, -686342.0625 -1005725.5625, -686339.6875 -1005733.25, -686337.3125 -1005740.9375, -686336.5 -1005747.4062, -686335.6875 -1005753.875, -686333.1875 -1005758.375, -686330.6875 -1005762.875, -686321.5 -1005765, -686312.3125 -1005767.125, -686303.125 -1005769.25, -686297.3125 -1005770, -686289.0208 -1005768.6875, -686280.7292 -1005767.375, -686272.4375 -1005766.0625, -686269.9375 -1005772.8125, -686267.4375 -1005779.5625, -686264.5937 -1005786.5937, -686261.75 -1005793.625, -686258 -1005802.6875, -686254.25 -1005811.75, -686250.5 -1005820.8125, -686240.9687 -1005821.4687, -686231.4375 -1005822.125, -686228.7969 -1005831, -686226.1562 -1005839.875, -686223.5156 -1005848.75, -686220.875 -1005857.625, -686228.5469 -1005860.7969, -686236.2187 -1005863.9687, -686243.8906 -1005867.1406, -686251.5625 -1005870.3125, -686257.625 -1005871.375, -686265.775 -1005871.95, -686273.925 -1005872.525, -686282.075 -1005873.1, -686290.225 -1005873.675, -686298.375 -1005874.25, -686305.125 -1005875.5937, -686311.875 -1005876.9375, -686317.8437 -1005881.2812, -686323.8125 -1005885.625, -686328.4792 -1005892.25, -686333.1458 -1005898.875, -686337.8125 -1005905.5, -686339.8125 -1005910.6562, -686341.8125 -1005915.8125, -686346.8125 -1005920.3125, -686354.2292 -1005924.2083, -686361.6458 -1005928.1042, -686369.0625 -1005932, -686375.9018 -1005937.2857, -686382.7411 -1005942.5714, -686389.5804 -1005947.8571, -686396.4196 -1005953.1429, -686403.2589 -1005958.4286, -686410.0982 -1005963.7143, -686416.9375 -1005969, -686420.9028 -1005977.9931, -686424.8681 -1005986.9861, -686428.8333 -1005995.9792, -686432.7986 -1006004.9722, -686436.7639 -1006013.9653, -686440.7292 -1006022.9583, -686444.6944 -1006031.9514, -686448.6597 -1006040.9444, -686452.625 -1006049.9375, -686457.3125 -1006052.4687, -686462 -1006055, -686470.0521 -1006058.5208, -686478.1042 -1006062.0417, -686486.1562 -1006065.5625, -686494.2083 -1006069.0833, -686502.2604 -1006072.6042, -686510.3125 -1006076.125, -686518.725 -1006079.9875, -686527.1375 -1006083.85, -686535.55 -1006087.7125, -686543.9625 -1006091.575, -686552.375 -1006095.4375, -686560.7875 -1006099.3, -686569.2 -1006103.1625, -686577.6125 -1006107.025, -686586.025 -1006110.8875, -686594.4375 -1006114.75, -686600 -1006116.625, -686608.0781 -1006120.3906, -686616.1562 -1006124.1562, -686624.2344 -1006127.9219, -686632.3125 -1006131.6875, -686638.875 -1006133.125, -686645.4375 -1006134.5625, -686652 -1006136, -686661.0795 -1006138.0852, -686670.1591 -1006140.1705, -686679.2386 -1006142.2557, -686688.3182 -1006144.3409, -686697.3977 -1006146.4261, -686706.4773 -1006148.5114, -686715.5568 -1006150.5966, -686724.6364 -1006152.6818, -686733.7159 -1006154.767, -686742.7955 -1006156.8523, -686751.875 -1006158.9375, -686749.75 -1006163.1875, -686755.3125 -1006169.9167, -686760.875 -1006176.6458, -686766.4375 -1006183.375, -686772.9219 -1006188.7187, -686779.4062 -1006194.0625, -686785.8906 -1006199.4062, -686792.375 -1006204.75, -686786.8125 -1006212.4375, -686792.8214 -1006219.8393, -686798.8304 -1006227.2411, -686804.8393 -1006234.6429, -686810.8482 -1006242.0446, -686816.8571 -1006249.4464, -686822.8661 -1006256.8482, -686828.875 -1006264.25, -686834.6875 -1006262.6562, -686840.5 -1006261.0625, -686845.1562 -1006262.9375, -686849.8125 -1006264.8125, -686853.25 -1006271.1667, -686856.6875 -1006277.5208, -686860.125 -1006283.875, -686864.625 -1006290.4687, -686869.125 -1006297.0625, -686875.875 -1006297.5625, -686882.625 -1006298.0625, -686890.4583 -1006296.3125, -686898.2917 -1006294.5625, -686906.125 -1006292.8125, -686914.7 -1006294.825, -686923.275 -1006296.8375, -686931.85 -1006298.85, -686940.425 -1006300.8625, -686949 -1006302.875, -686956.6667 -1006301.375, -686964.3333 -1006299.875, -686972 -1006298.375, -686979.1562 -1006299.7187, -686986.3125 -1006301.0625, -686994.5156 -1006302.25, -687002.7187 -1006303.4375, -687010.9219 -1006304.625, -687019.125 -1006305.8125, -687026.25 -1006304.875, -687033.375 -1006303.9375, -687034.3125 -1006309.25, -687035.25 -1006314.5625, -687039.9167 -1006322.5, -687044.5833 -1006330.4375, -687049.25 -1006338.375, -687051.0469 -1006345.7031, -687052.8437 -1006353.0312, -687054.6406 -1006360.3594, -687056.4375 -1006367.6875, -687049 -1006369.8125, -687044.125 -1006374.5937, -687039.25 -1006379.375, -687030.775 -1006380.1125, -687022.3 -1006380.85, -687013.825 -1006381.5875, -687005.35 -1006382.325, -686996.875 -1006383.0625, -686989.0156 -1006384.4531, -686981.1562 -1006385.8437, -686973.2969 -1006387.2344, -686965.4375 -1006388.625, -686957.4375 -1006389.7875, -686949.4375 -1006390.95, -686941.4375 -1006392.1125, -686933.4375 -1006393.275, -686925.4375 -1006394.4375, -686915.925 -1006395.425, -686906.4125 -1006396.4125, -686896.9 -1006397.4, -686887.3875 -1006398.3875, -686877.875 -1006399.375, -686868.8437 -1006399.9375, -686859.8125 -1006400.5, -686858.25 -1006394.1875, -686849.125 -1006396.6875, -686840 -1006399.1875, -686830.3437 -1006399.8958, -686820.6875 -1006400.6042, -686811.0312 -1006401.3125, -686801.375 -1006402.0208, -686791.7187 -1006402.7292, -686782.0625 -1006403.4375, -686789.0625 -1006408.0625, -686796.0625 -1006412.6875, -686795.25 -1006417.1875, -686785.9943 -1006418.75, -686776.7386 -1006420.3125, -686767.483 -1006421.875, -686758.2273 -1006423.4375, -686748.9716 -1006425, -686739.7159 -1006426.5625, -686730.4602 -1006428.125, -686721.2045 -1006429.6875, -686711.9489 -1006431.25, -686702.6932 -1006432.8125, -686693.4375 -1006434.375, -686696.0417 -1006442.6875, -686698.6458 -1006451, -686701.25 -1006459.3125, -686694.5 -1006464.8125, -686687.75 -1006470.3125, -686681 -1006475.8125, -686674.25 -1006481.3125, -686667.5 -1006486.8125, -686659.2083 -1006491.9167, -686650.9167 -1006497.0208, -686642.625 -1006502.125, -686635.4062 -1006507.1562, -686628.1875 -1006512.1875, -686620.9687 -1006517.2187, -686613.75 -1006522.25, -686607.1389 -1006528.5972, -686600.5278 -1006534.9444, -686593.9167 -1006541.2917, -686587.3056 -1006547.6389, -686580.6944 -1006553.9861, -686574.0833 -1006560.3333, -686567.4722 -1006566.6806, -686560.8611 -1006573.0278, -686554.25 -1006579.375, -686557.5625 -1006583.875, -686560.875 -1006588.375, -686554.2292 -1006592.1875, -686547.5833 -1006596, -686540.9375 -1006599.8125, -686533.75 -1006604.1719, -686526.5625 -1006608.5312, -686519.375 -1006612.8906, -686512.1875 -1006617.25, -686504.5 -1006622.25, -686497.0903 -1006627.8681, -686489.6806 -1006633.4861, -686482.2708 -1006639.1042, -686474.8611 -1006644.7222, -686467.4514 -1006650.3403, -686460.0417 -1006655.9583, -686452.6319 -1006661.5764, -686445.2222 -1006667.1944, -686437.8125 -1006672.8125, -686429.9167 -1006670.1146, -686422.0208 -1006667.4167, -686414.125 -1006664.7187, -686406.2292 -1006662.0208, -686398.3333 -1006659.3229, -686390.4375 -1006656.625, -686386.2917 -1006665.1875, -686382.1458 -1006673.75, -686378 -1006682.3125, -686370.3958 -1006681.1875, -686362.7917 -1006680.0625, -686355.1875 -1006678.9375, -686346.9062 -1006677.7187, -686338.625 -1006676.5, -686330.4167 -1006678.0833, -686322.2083 -1006679.6667, -686314 -1006681.25, -686304.5625 -1006684.1667, -686295.125 -1006687.0833, -686285.6875 -1006690, -686278.5625 -1006692.875, -686279.625 -1006697.125, -686273 -1006697, -686266.375 -1006696.875, -686258.2708 -1006693.1667, -686250.1667 -1006689.4583, -686242.0625 -1006685.75, -686235.9687 -1006685.625, -686229.875 -1006685.5, -686223.375 -1006687.3437, -686216.875 -1006689.1875, -686208.4375 -1006691.8125, -686201.7292 -1006692.7083, -686195.0208 -1006693.6042, -686188.3125 -1006694.5, -686179.3958 -1006694.25, -686170.4792 -1006694, -686161.5625 -1006693.75, -686154.5208 -1006692.5, -686147.4792 -1006691.25, -686140.4375 -1006690, -686141.2344 -1006682.0625, -686142.0312 -1006674.125, -686142.8281 -1006666.1875, -686143.625 -1006658.25, -686146.7969 -1006650.5, -686149.9687 -1006642.75, -686153.1406 -1006635, -686156.3125 -1006627.25, -686165.8125 -1006624.375, -686159.75 -1006620.375, -686150.4792 -1006624, -686141.2083 -1006627.625, -686131.9375 -1006631.25, -686126.0625 -1006637.5312, -686120.1875 -1006643.8125, -686114.3125 -1006650.0937, -686108.4375 -1006656.375, -686100.0625 -1006659.7292, -686091.6875 -1006663.0833, -686083.3125 -1006666.4375, -686074.4896 -1006667.625, -686065.6667 -1006668.8125, -686056.8437 -1006670, -686048.0208 -1006671.1875, -686039.1979 -1006672.375, -686030.375 -1006673.5625, -686024.4062 -1006677.1562, -686018.4375 -1006680.75, -686012.375 -1006685.2187, -686006.3125 -1006689.6875, -685997.1875 -1006692.875, -685988.0625 -1006696.0625, -685982.5 -1006692.3333, -685976.9375 -1006688.6042, -685971.375 -1006684.875, -685963.1562 -1006683.1875, -685954.9375 -1006681.5, -685946.9167 -1006682.3958, -685938.8958 -1006683.2917, -685930.875 -1006684.1875, -685928.6667 -1006674.75, -685926.4583 -1006665.3125, -685924.25 -1006655.875, -685917.125 -1006656.375, -685917.4792 -1006664.75, -685917.8333 -1006673.125, -685918.1875 -1006681.5, -685910.25 -1006686.8125, -685902.3125 -1006692.125, -685893.6406 -1006695.6875, -685884.9687 -1006699.25, -685876.2969 -1006702.8125, -685867.625 -1006706.375, -685859.875 -1006709.6458, -685852.125 -1006712.9167, -685844.375 -1006716.1875, -685837.2344 -1006719.75, -685830.0937 -1006723.3125, -685822.9531 -1006726.875, -685815.8125 -1006730.4375, -685807.0833 -1006734.25, -685798.3542 -1006738.0625, -685789.625 -1006741.875, -685781.0625 -1006743.2708, -685772.5 -1006744.6667, -685763.9375 -1006746.0625, -685755.7875 -1006742.15, -685747.6375 -1006738.2375, -685739.4875 -1006734.325, -685731.3375 -1006730.4125, -685723.1875 -1006726.5, -685714.8125 -1006726.4167, -685706.4375 -1006726.3333, -685698.0625 -1006726.25, -685691.0833 -1006722.8958, -685684.1042 -1006719.5417, -685677.125 -1006716.1875, -685674.2292 -1006709.8333, -685671.3333 -1006703.4792, -685668.4375 -1006697.125, -685669.3437 -1006691.5625, -685670.25 -1006686, -685665.625 -1006678.4687, -685661 -1006670.9375, -685660.3437 -1006662.4687, -685659.6875 -1006654, -685652.475 -1006650.1125, -685645.2625 -1006646.225, -685638.05 -1006642.3375, -685630.8375 -1006638.45, -685623.625 -1006634.5625, -685616.6875 -1006633.8125, -685609.75 -1006633.0625, -685602.8125 -1006632.3125, -685595.4792 -1006633.7292, -685588.1458 -1006635.1458, -685580.8125 -1006636.5625, -685572.4375 -1006641.3125, -685564.0625 -1006646.0625, -685555.6875 -1006650.8125, -685563.7031 -1006649.2969, -685571.7187 -1006647.7812, -685579.7344 -1006646.2656, -685587.75 -1006644.75, -685595.7708 -1006645.3542, -685603.7917 -1006645.9583, -685611.8125 -1006646.5625, -685618.95 -1006651.9125, -685626.0875 -1006657.2625, -685633.225 -1006662.6125, -685640.3625 -1006667.9625, -685647.5 -1006673.3125, -685650.5 -1006681.9375, -685653.5089 -1006690.7589, -685656.5179 -1006699.5804, -685659.5268 -1006708.4018, -685662.5357 -1006717.2232, -685665.5446 -1006726.0446, -685668.5536 -1006734.8661, -685671.5625 -1006743.6875, -685680.0375 -1006747.3375, -685688.5125 -1006750.9875, -685696.9875 -1006754.6375, -685705.4625 -1006758.2875, -685713.9375 -1006761.9375, -685721.3021 -1006767.1458, -685728.6667 -1006772.3542, -685736.0312 -1006777.5625, -685743.3958 -1006782.7708, -685750.7604 -1006787.9792, -685758.125 -1006793.1875, -685754.0156 -1006799.7969, -685749.9062 -1006806.4062, -685745.7969 -1006813.0156, -685741.6875 -1006819.625, -685747 -1006823.3437, -685752.3125 -1006827.0625, -685757.5937 -1006820.1094, -685762.875 -1006813.1562, -685768.1562 -1006806.2031, -685773.4375 -1006799.25, -685782.4375 -1006796.6875, -685791.4375 -1006794.125, -685800.4375 -1006791.5625, -685794.6875 -1006785.8125, -685788.9375 -1006780.0625, -685783.1875 -1006774.3125, -685777.4375 -1006768.5625, -685783.7812 -1006768.4375, -685790.125 -1006768.3125, -685795.8542 -1006774.6667, -685801.5833 -1006781.0208, -685807.3125 -1006787.375, -685813.1562 -1006787.1875, -685819 -1006787, -685828.7187 -1006787.0078, -685838.4375 -1006787.0156, -685848.1562 -1006787.0234, -685857.875 -1006787.0312, -685867.5937 -1006787.0391, -685877.3125 -1006787.0469, -685887.0312 -1006787.0547, -685896.75 -1006787.0625, -685905.3437 -1006784.0312, -685913.9375 -1006781, -685922.5312 -1006777.9687, -685931.125 -1006774.9375, -685940.0417 -1006774.8819, -685948.9583 -1006774.8264, -685957.875 -1006774.7708, -685966.7917 -1006774.7153, -685975.7083 -1006774.6597, -685984.625 -1006774.6042, -685993.5417 -1006774.5486, -686002.4583 -1006774.4931, -686011.375 -1006774.4375, -686019.625 -1006774.3594, -686027.875 -1006774.2812, -686036.125 -1006774.2031, -686044.375 -1006774.125, -686053.7031 -1006773.5312, -686063.0312 -1006772.9375, -686072.3594 -1006772.3437, -686081.6875 -1006771.75, -686091.0156 -1006771.1562, -686100.3437 -1006770.5625, -686109.6719 -1006769.9687, -686119 -1006769.375, -686128.4167 -1006770.4306, -686137.8333 -1006771.4861, -686147.25 -1006772.5417, -686156.6667 -1006773.5972, -686166.0833 -1006774.6528, -686175.5 -1006775.7083, -686184.9167 -1006776.7639, -686194.3333 -1006777.8194, -686203.75 -1006778.875, -686211.5937 -1006779.875, -686219.4375 -1006780.875, -686227.2812 -1006781.875, -686235.125 -1006782.875, -686243.3875 -1006783.925, -686251.65 -1006784.975, -686259.9125 -1006786.025, -686268.175 -1006787.075, -686276.4375 -1006788.125, -686284.325 -1006790.0875, -686292.2125 -1006792.05, -686300.1 -1006794.0125, -686307.9875 -1006795.975, -686315.875 -1006797.9375, -686322.9531 -1006800.4531, -686330.0312 -1006802.9687, -686337.1094 -1006805.4844, -686344.1875 -1006808, -686349.4687 -1006811.9687, -686354.75 -1006815.9375, -686360.8333 -1006810.0208, -686366.9167 -1006804.1042, -686373 -1006798.1875, -686380.0625 -1006796.2292, -686387.125 -1006794.2708, -686394.1875 -1006792.3125, -686403.3542 -1006788.625, -686412.5208 -1006784.9375, -686421.6875 -1006781.25, -686430.7232 -1006777.2455, -686439.7589 -1006773.2411, -686448.7946 -1006769.2366, -686457.8304 -1006765.2321, -686466.8661 -1006761.2277, -686475.9018 -1006757.2232, -686484.9375 -1006753.2187, -686493.9732 -1006749.2143, -686503.0089 -1006745.2098, -686512.0446 -1006741.2054, -686521.0804 -1006737.2009, -686530.1161 -1006733.1964, -686539.1518 -1006729.192, -686548.1875 -1006725.1875, -686554.5 -1006720.125, -686562 -1006716.775, -686569.5 -1006713.425, -686577 -1006710.075, -686584.5 -1006706.725, -686592 -1006703.375, -686600.7054 -1006699.2321, -686609.4107 -1006695.0893, -686618.1161 -1006690.9464, -686626.8214 -1006686.8036, -686635.5268 -1006682.6607, -686644.2321 -1006678.5179, -686652.9375 -1006674.375, -686661.2708 -1006669.8333, -686669.6042 -1006665.2917, -686677.9375 -1006660.75, -686686.2708 -1006656.2083, -686694.6042 -1006651.6667, -686702.9375 -1006647.125, -686706.8125 -1006655.6875, -686710.6875 -1006664.25, -686714.5625 -1006672.8125, -686722.8472 -1006668.3958, -686731.1319 -1006663.9792, -686739.4167 -1006659.5625, -686747.7014 -1006655.1458, -686755.9861 -1006650.7292, -686764.2708 -1006646.3125, -686772.5556 -1006641.8958, -686780.8403 -1006637.4792, -686789.125 -1006633.0625, -686797.4542 -1006628.6708, -686805.7833 -1006624.2792, -686814.1125 -1006619.8875, -686822.4417 -1006615.4958, -686830.7708 -1006611.1042, -686839.1 -1006606.7125, -686847.4292 -1006602.3208, -686855.7583 -1006597.9292, -686864.0875 -1006593.5375, -686872.4167 -1006589.1458, -686880.7458 -1006584.7542, -686889.075 -1006580.3625, -686897.4042 -1006575.9708, -686905.7333 -1006571.5792, -686914.0625 -1006567.1875, -686917.7812 -1006570.6562, -686921.5 -1006574.125, -686929.5833 -1006570.3542, -686937.6667 -1006566.5833, -686945.75 -1006562.8125, -686954.5714 -1006558.9018, -686963.3929 -1006554.9911, -686972.2143 -1006551.0804, -686981.0357 -1006547.1696, -686989.8571 -1006543.2589, -686998.6786 -1006539.3482, -687007.5 -1006535.4375, -687016.4687 -1006536.7812, -687025.4375 -1006538.125, -687034.7656 -1006536.4062, -687044.0937 -1006534.6875, -687053.4219 -1006532.9687, -687062.75 -1006531.25, -687069.6458 -1006534.1458, -687076.5417 -1006537.0417, -687083.4375 -1006539.9375, -687089.5781 -1006544.5781, -687095.7187 -1006549.2187, -687101.8594 -1006553.8594, -687108 -1006558.5, -687113.2083 -1006565.0208, -687118.4167 -1006571.5417, -687123.625 -1006578.0625, -687127.4687 -1006586.0625, -687131.3125 -1006594.0625, -687135.1562 -1006602.0625, -687139 -1006610.0625, -687137.9375 -1006617.125, -687136.875 -1006624.1875, -687135.8125 -1006631.25, -687138.4687 -1006639.9375, -687141.125 -1006648.625, -687143.0625 -1006657.0208, -687145 -1006665.4167, -687146.9375 -1006673.8125, -687155.2656 -1006676.6719, -687163.5937 -1006679.5312, -687171.9219 -1006682.3906, -687180.25 -1006685.25, -687181.8437 -1006692.125, -687183.4375 -1006699, -687179.6458 -1006705, -687175.8542 -1006711, -687172.0625 -1006717, -687172.1458 -1006724.0417, -687172.2292 -1006731.0833, -687172.3125 -1006738.125, -687166.0417 -1006740.8542, -687159.7708 -1006743.5833, -687153.5 -1006746.3125, -687147.9687 -1006752.6875, -687142.4375 -1006759.0625, -687144.875 -1006767.5312, -687147.3125 -1006776, -687149.75 -1006784.4687, -687152.1875 -1006792.9375, -687160.7812 -1006788.4375, -687169.375 -1006783.9375, -687175.6953 -1006777.4844, -687182.0156 -1006771.0312, -687188.3359 -1006764.5781, -687194.6562 -1006758.125, -687200.9766 -1006751.6719, -687207.2969 -1006745.2187, -687213.6172 -1006738.7656, -687219.9375 -1006732.3125, -687224.0312 -1006725.5625, -687228.125 -1006718.8125, -687229.625 -1006709.8125, -687231.125 -1006700.8125, -687232.625 -1006691.8125, -687237.375 -1006691.5625, -687240.5625 -1006687.5937, -687243.75 -1006683.625, -687250.375 -1006678.3437, -687257 -1006673.0625, -687264.1406 -1006666.9687, -687271.2812 -1006660.875, -687278.4219 -1006654.7812, -687285.5625 -1006648.6875, -687289.6562 -1006641.6094, -687293.75 -1006634.5312, -687297.8437 -1006627.4531, -687301.9375 -1006620.375, -687303.5625 -1006620.6875, -687308.5833 -1006625.625, -687313.6042 -1006630.5625, -687318.625 -1006635.5, -687325.25 -1006640.35, -687331.875 -1006645.2, -687338.5 -1006650.05, -687345.125 -1006654.9, -687351.75 -1006659.75, -687359.4167 -1006654.7917, -687367.0833 -1006649.8333, -687374.75 -1006644.875, -687382.4167 -1006639.9167, -687390.0833 -1006634.9583, -687397.75 -1006630, -687405.4167 -1006625.0417, -687413.0833 -1006620.0833, -687420.75 -1006615.125, -687426.0417 -1006620.6667, -687431.3333 -1006626.2083, -687436.625 -1006631.75, -687445.6477 -1006634.5909, -687454.6705 -1006637.4318, -687463.6932 -1006640.2727, -687472.7159 -1006643.1136, -687481.7386 -1006645.9545, -687490.7614 -1006648.7955, -687499.7841 -1006651.6364, -687508.8068 -1006654.4773, -687517.8295 -1006657.3182, -687526.8523 -1006660.1591, -687535.875 -1006663, -687536.8333 -1006655.3333, -687537.7917 -1006647.6667, -687538.75 -1006640, -687534.4062 -1006636.5312, -687530.0625 -1006633.0625, -687523.7031 -1006627.9062, -687517.3437 -1006622.75, -687510.9844 -1006617.5937, -687504.625 -1006612.4375, -687504.625 -1006603.4375, -687507.8958 -1006594.8125, -687511.1667 -1006586.1875, -687514.4375 -1006577.5625, -687520.25 -1006574.0208, -687526.0625 -1006570.4792, -687531.875 -1006566.9375, -687530 -1006562.4375, -687534.6875 -1006553.625, -687539.375 -1006544.8125, -687544.0625 -1006536, -687552 -1006535.2187, -687559.9375 -1006534.4375, -687560.5937 -1006526.75, -687561.25 -1006519.0625, -687563.5417 -1006511.75, -687565.8333 -1006504.4375, -687568.125 -1006497.125, -687572.6562 -1006491.4687, -687577.1875 -1006485.8125, -687579.1875 -1006477.5375, -687581.1875 -1006469.2625, -687583.1875 -1006460.9875, -687585.1875 -1006452.7125, -687587.1875 -1006444.4375, -687588.3929 -1006435.5179, -687589.5982 -1006426.5982, -687590.8036 -1006417.6786, -687592.0089 -1006408.7589, -687593.2143 -1006399.8393, -687594.4196 -1006390.9196, -687595.625 -1006382, -687598.0469 -1006372.4062, -687600.4687 -1006362.8125, -687602.8906 -1006353.2187, -687605.3125 -1006343.625, -687605.3125 -1006337.75, -687606.0312 -1006331.5625, -687606.75 -1006325.375, -687602.6562 -1006320.2187, -687598.5625 -1006315.0625, -687595.375 -1006307.5312, -687592.1875 -1006300, -687590.9583 -1006292.8542, -687589.7292 -1006285.7083, -687588.5 -1006278.5625, -687591.2812 -1006273.2812, -687594.0625 -1006268, -687597.875 -1006260.75, -687602.25 -1006254.75, -687606.75 -1006247.7708, -687611.25 -1006240.7917, -687615.75 -1006233.8125, -687617.6042 -1006226.9375, -687619.4583 -1006220.0625, -687621.3125 -1006213.1875, -687618.1458 -1006206.4792, -687614.9792 -1006199.7708, -687611.8125 -1006193.0625, -687615.1094 -1006186.125, -687618.4062 -1006179.1875, -687621.7031 -1006172.25, -687625 -1006165.3125, -687630.6458 -1006169.2708, -687636.2917 -1006173.2292, -687641.9375 -1006177.1875, -687646.8125 -1006170.05, -687651.6875 -1006162.9125, -687656.5625 -1006155.775, -687661.4375 -1006148.6375, -687666.3125 -1006141.5, -687672.375 -1006133.625, -687678.4375 -1006125.75, -687684.5 -1006117.875, -687689.4062 -1006111.0937, -687694.3125 -1006104.3125, -687699.2187 -1006097.5312, -687704.125 -1006090.75, -687709.0312 -1006083.9687, -687713.9375 -1006077.1875, -687707.75 -1006070.8333, -687701.5625 -1006064.4792, -687695.375 -1006058.125, -687699.0937 -1006053.6562, -687702.8125 -1006049.1875, -687696.8958 -1006043.625, -687690.9792 -1006038.0625, -687685.0625 -1006032.5, -687682.4375 -1006025.375, -687683.075 -1006016.6375, -687683.7125 -1006007.9, -687684.35 -1005999.1625, -687684.9875 -1005990.425, -687685.625 -1005981.6875, -687679.0833 -1005988.8333, -687672.5417 -1005995.9792, -687666 -1006003.125, -687662.0312 -1006008.0312, -687658.0625 -1006012.9375, -687652.25 -1006020.7344, -687646.4375 -1006028.5312, -687640.625 -1006036.3281, -687634.8125 -1006044.125, -687632.625 -1006049.9062, -687630.4375 -1006055.6875, -687627.5 -1006063.375, -687624.5625 -1006071.0625, -687621.625 -1006078.75, -687618.6875 -1006086.4375, -687615.75 -1006094.125, -687613.5417 -1006101, -687611.3333 -1006107.875, -687609.125 -1006114.75, -687604.6696 -1006123.4107, -687600.2143 -1006132.0714, -687595.7589 -1006140.7321, -687591.3036 -1006149.3929, -687586.8482 -1006158.0536, -687582.3929 -1006166.7143, -687577.9375 -1006175.375, -687574.2292 -1006181.1458, -687570.5208 -1006186.9167, -687566.8125 -1006192.6875, -687561.375 -1006198.4375, -687555.9375 -1006204.1875, -687552.5 -1006210.625, -687549.0625 -1006217.0625, -687545.625 -1006223.5, -687542.1875 -1006227.75, -687538.75 -1006232, -687534.5312 -1006234.9062, -687530.3125 -1006237.8125, -687527.9375 -1006233.3125, -687521.0625 -1006231.4375, -687513.0125 -1006227.7875, -687504.9625 -1006224.1375, -687496.9125 -1006220.4875, -687488.8625 -1006216.8375, -687480.8125 -1006213.1875, -687474.3906 -1006209.0937, -687467.9687 -1006205, -687461.5469 -1006200.9062, -687455.125 -1006196.8125, -687448.0833 -1006189.8333, -687441.0417 -1006182.8542, -687434 -1006175.875, -687428.75 -1006171.6562, -687423.5 -1006167.4375, -687417.75 -1006162.1562, -687412 -1006156.875, -687405.8333 -1006152.1875, -687399.6667 -1006147.5, -687393.5 -1006142.8125, -687388.2083 -1006137.7083, -687382.9167 -1006132.6042, -687377.625 -1006127.5, -687371.875 -1006122.5937, -687366.125 -1006117.6875, -687360.375 -1006112.7812, -687354.625 -1006107.875, -687360.3125 -1006100.0703, -687366 -1006092.2656, -687371.6875 -1006084.4609, -687377.375 -1006076.6562, -687383.0625 -1006068.8516, -687388.75 -1006061.0469, -687394.4375 -1006053.2422, -687400.125 -1006045.4375, -687393.0208 -1006038.6806, -687385.9167 -1006031.9236, -687378.8125 -1006025.1667, -687371.7083 -1006018.4097, -687364.6042 -1006011.6528, -687357.5 -1006004.8958, -687350.3958 -1005998.1389, -687343.2917 -1005991.3819, -687336.1875 -1005984.625, -687328.9643 -1005977.7143, -687321.7411 -1005970.8036, -687314.5179 -1005963.8929, -687307.2946 -1005956.9821, -687300.0714 -1005950.0714, -687292.8482 -1005943.1607, -687285.625 -1005936.25, -687278.4018 -1005929.3393, -687271.1786 -1005922.4286, -687263.9554 -1005915.5179, -687256.7321 -1005908.6071, -687249.5089 -1005901.6964, -687242.2857 -1005894.7857, -687235.0625 -1005887.875, -687227.8393 -1005880.9643, -687220.6161 -1005874.0536, -687213.3929 -1005867.1429, -687206.1696 -1005860.2321, -687198.9464 -1005853.3214, -687191.7232 -1005846.4107, -687184.5 -1005839.5, -687177.9531 -1005833.0625, -687171.4062 -1005826.625, -687164.8594 -1005820.1875, -687158.3125 -1005813.75, -687151.7656 -1005807.3125, -687145.2187 -1005800.875, -687138.6719 -1005794.4375, -687132.125 -1005788, -687127 -1005792.8542, -687121.875 -1005797.7083, -687116.75 -1005802.5625, -687109.3125 -1005808.375, -687101.9375 -1005812.375, -687094.25 -1005815.25, -687084.75 -1005814.5, -687079.1875 -1005810.25, -687071.5536 -1005805.1429, -687063.9196 -1005800.0357, -687056.2857 -1005794.9286, -687048.6518 -1005789.8214, -687041.0179 -1005784.7143)))"
            ]
        }

# Data Structures

## EVL (object)
- id: `fRge5` (string) - moje 
- name: `Battery Harris` (string) - pokus a další # Lokalita
- Kod: 2797 (number) -kód lokality
- Sitecode: CZ0424031 (string) -sitecode lokality